@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');



.QuizBankTeacher__header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.QuizBankTeacher__header {
    color: #4A4A4A;
    margin: 0;
    font-size: 34px;
}

.QuizBankTeacher__add-new-btn {
    background-color: #67A292;
    color: #F9FBFB;
    padding: 12px 23px;
    font-size: 19px;
    font-weight: 500;
    font-family: 'Inter';
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.QuizBankTeacher__add-new-btn:active {
    opacity: 0.8;
}

.QuizBankTeacher__add-new-btn:focus {
    outline: none;
}






/* Filter section */
.QuizBankTeacher__filter-section {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.QuizBankTeacher__search-container{
    flex: 0.5;
    position: relative;
}


.QuizBankTeacher__search-icon{
    position: absolute;
    top: 23%;
    left: 4%;
    color: #a1a1a1; 
    width: 20px;
    height: 20px;
    min-height: 20px;
    min-width: 20px;   
}

.QuizBankTeacher__search-input{
    width: 100%; 
    border: none;
    border-radius: 5px;
    background-color: #DDE9E6;
    font-size: 15px;
    color: #56575B;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    height: 40px;
    padding: 7px 15px 7px 40px;
}

.QuizBankTeacher__search-input:focus{
    outline: none; 
}


.QuizBankTeacher__filter-label {
    color: #4A4A4A;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

.QuizBankTeacher__type-filter {
    width: 20%;
}

.question-bank-container {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}



table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

thead tr {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

tbody tr:nth-child(odd) {
    background-color: #dceae6;
}

th {
    text-align: left;
    padding: 16px 20px;
    color: #56575B;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #E5E7EB;
}

td {
    padding: 14px 20px;
    color: #56575B;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
}

th:nth-child(1),
td:nth-child(1) {
    width: 35%;
    padding-left: 35px;
}

td:nth-child(2) {
    width: 19%;
}

td:nth-child(3) {
    width: 23%;
}

td:nth-child(4) {
    width: 10%;
}

.QuizBankTeacher__action-buttons {
    display: flex;
    gap: 20px;
}

.edit-btn, .delete-btn {
    background: none;
    border: none;
    border-radius: 5px;
    padding: 0;
}

.edit-btn:focus, .delete-btn:focus {
    outline: none;
}

.edit-btn:active, .delete-btn:active {
    opacity: 0.8;
}

.QuizBankTeacher__edit-btn-icon{
    width: 23px;
    height: 23px;
    min-height: 23px;
    min-width: 23px;
    color: #67A292;
}

.QuizBankTeacher__trash-btn-icon{
    width: 23px;
    height: 23px;
    min-height: 23px;
    min-width: 23px;
   color: #A26768;
}



/* pagination */
.QuizBankTeacher__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.pagination-arrow {
    background-color: #eaffea;
    border: 2px solid #67A292;
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 4px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-arrow-icon{
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    color: #67A292;
}

.pagination-arrow:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination-arrow:focus {
    outline: none;
}


.pagination-number {
    font-size: 16px;
    font-weight: bold;
    color: #67A292;
}

