

.QuizzesTeacher__breadcrumb{
    font-size: 18px;
    font-weight: 500;
    color: #a3a5aa;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.QuizzesTeacher__header-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
}

.QuizzesTeacher__header-container p{
    margin: 0;
    color: #a3a5aa;
    font-weight: 500;
    font-size: 18px;
}


.QuizzesTeacher__header-header{
    margin: 0;
    color: #56575B;
    font-size: 30px;
}


.QuizzesTeacher__backButton {
    background-color: #9dbcb4;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 18px;
    padding: 12px 65px;
    border-radius: 8px;
    cursor: pointer;
}

.QuizzesTeacher__nextButton {
    background-color: #67A292;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 18px;
    margin-left: 15px;
    padding: 12px 65px;
    border-radius: 8px;
    cursor: pointer;
}

.QuizzesTeacher__backButton:active,
.QuizzesTeacher__nextButton:active{
    opacity: 0.8;
}

.QuizzesTeacher__backButton:focus,
.QuizzesTeacher__nextButton:focus{
    outline: none;
}





/* progress bar */  
.QuizzesTeacher__progressBar {
    height: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}
  
.QuizzesTeacher__progress {
    background: #DBDBDB;
    height: 100%;
    border-radius: 3px;
}

.QuizzesTeacher__progress.Fill {
    background: #67A292;
    height: 100%;
    border-radius: 3px;
}



.QuizzesTeacher__header-question {
    font-size: 24px;
    margin: 0;
    font-weight: 500;
    color: #56575B;
}
  
.QuizzesTeacher__questions p {
    font-size: 14px;
    margin: 0;
    color: #a3a5aa;
}



.QuizzesTeacher__questions-next{
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 600;
    padding: 15px 0 10px;
    background-color: #F9FBFB;
    transition: padding 0.3s ease;
}

.QuizzesTeacher__questions-next.scrolled {
    padding: 20px 0 30px;
}

/* Main content */
.QuizzesTeacher__questionCard {
    display: flex;
    flex-direction: column;
    margin: 15px 0 25px;
    border-radius: 10px; 
}

.QuizzesTeacher__separator{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

/* Scrollbar customization */
.QuizzesTeacher__questionCard::-webkit-scrollbar {
    width: 7px;
}

.QuizzesTeacher__questionCard::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.QuizzesTeacher__questionCard::-webkit-scrollbar-thumb {
    background: #bdbcbc;
    border-radius: 10px;
}

.QuizzesTeacher__questionCard::-webkit-scrollbar-thumb:hover {
    background: #a7a6a6;
    cursor: pointer;
}

  
.QuizzesTeacher__sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.QuizzesTeacher__sidebar-question{
    background-color: #fff;
    border: 2px solid #dadada;
    border-radius: 14px;
    padding: 18px 20px;
    color: #56575B;
    font-weight: 500;
    font-size: 25px;
}
  
.QuizzesTeacher__sidebar-question-dup-del{
    background-color: #fff;
    border: 2px solid #dadada;
    border-radius: 14px;
    color: #56575B;
    font-weight: 500;
    font-size: 16px;
}

.QuizzesTeacher__duplicate-icon{
    transform: rotateY(180deg);
    width: 17px;
    height: 17px;
}

.QuizzesTeacher__duplicate{
    border-radius: 14px 14px 0 0;
    padding: 15px 20px 15px 30px;
    display: flex;
    align-items: center;
    gap: 5px; 
    cursor: pointer;
    transition: background-color 0.6s;
}

.QuizzesTeacher__duplicate:hover{
    background-color: #dfefeb;
}

.QuizzesTeacher__duplicate:active{
   opacity: 0.8;
}

.QuizzesTeacher__dup-del-line{
    width: 130px; 
    height: 1px;
    margin: 0 auto;
    background-color: #dadada; 
}

.QuizzesTeacher__delete{
    border-radius: 0 0 14px 14px;
    padding: 15px 20px 15px 30px;
    display: flex;
    align-items: center;
    gap: 5px; 
    cursor: pointer;
    transition: background-color 0.6s;
}


.QuizzesTeacher__delete:hover{
    background-color: #dfefeb;
}

.QuizzesTeacher__delete:active{
   opacity: 0.8;
}

.QuizzesTeacher__delete.disabled {
    color: #ccc; 
    cursor: not-allowed;
}

/* answer key */
.QuizzesTeacher__sidebar-question-ans-key{
    background-color: #fff;
    border: 2px solid #A7CDC3;
    border-radius: 14px;
    padding: 20px;
    color: #67A292;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition: background-color 0.6s;
    position: relative;
}

.QuizzesTeacher__sidebar-question-ans-key:hover{
    background-color: #dfefeb;
}

.QuizzesTeacher__sidebar-question-ans-key:active{
   opacity: 0.8;
}
  
.QuizzesTeacher__sidebar-question-ans-key-icon{
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
}

.QuizzesTeacher__sidebar-question-ans-key.disabled{
    border: 2px solid #cbded9;
    color: #c3dcd6;
    cursor:not-allowed;
}

.QuizzesTeacher__error-answer-key{
    position: absolute;
    bottom: -50%;
    color: rgb(201, 0, 0);
    font-size: 13px;
}








/* right main */
.QuizzesTeacher__main {
    flex: 1;
}

.QuizzesTeacher__ques-main-content{
    border-radius: 14px;
    border: 2px solid #dadada;
    padding: 20px 30px;
}


/* inputs */
.QuizzesTeacher__input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 13px;
    position: relative;
}

.QuizzesTeacher__ques-main-label{
    display: block;
    color: #56575B;
    margin-bottom: 7px;
    font-weight: 500;
}

.QuizzesTeacher__ques-main-required{
    color: #A26768;
    margin-left: 5px;
}

.QuizzesTeacher__input{
   width: 100%; 
    border: none;
    border-radius: 7px;
    background-color: #DDE9E6;
    font-size: 15px;
    color: #56575B;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    height: 45px;
    padding: 10px 16px;
    box-sizing: border-box; 
}

.QuizzesTeacher__input:focus{
    outline: none; 
}

/* error */
.QuizzesTeacher__error-question-text{
    position: absolute;
    top: 5%;
    right: 0.5%;
    color: rgb(201, 0, 0);
    font-size: 13px;
}

/* points */
 .QuizzesTeacher__type-point-container{
    display: flex;
    gap: 30px;
}


/* Mulitple choice */
.QuizzesTeacher__type-choice-container{
    margin-top: 10px;
}

/* error */
.QuizzesTeacher__error-choice-text{
    position: absolute;
    top: 5%;
    right: 0.5%;
    color: rgb(201, 0, 0);
    font-size: 13px;
}


.QuizzesTeacher__choice-item {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 10px;
}

/* radio */
.QuizzesTeacher__choice-radio {
    appearance: none; 
    width: 20px; 
    height: 20px;
    border: 2px solid #77787c; 
    border-radius: 50%; 
    background-color: #f8f9fa; 
    display: inline-block;
    position: relative;
  
}

.QuizzesTeacher__choice-radio:checked {
    background-color: #f8f9fa; 
    border-color: #56575B; 
}

.QuizzesTeacher__choice-radio::after {
    content: '';
    width: 10px; 
    height: 10px;
    background-color: #56575B; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden; 
}

.QuizzesTeacher__choice-radio:checked::after {
    visibility: visible; 
}

/* input */
.QuizzesTeacher__choice-input {
    flex: 0.8;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #56575B;
    border: none;
    border-bottom: 1px solid #ced4da;
    background-color: #F9FBFB;
}
  
.QuizzesTeacher__choice-input:focus {
    outline: none;
}

/* delete choice */
.QuizzesTeacher__delete-choice {
    background: none;
    border: none;
    color: #56575B;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
}

.QuizzesTeacher__delete-choice:hover {
    color: #56575B;
}

.QuizzesTeacher__delete-choice:active {
    opacity: 0.8;
}
  
.QuizzesTeacher__delete-choice:focus {
    outline: none;
}

/* add choice */
.QuizzesTeacher__add-choice-icon{
    width: 25px;
    height: 25px;
}

.QuizzesTeacher__add-choice {
    padding: 10px 3px;
    font-size: 16px;
    color: #7c7d80;
    background-color: #F9FBFB;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
}
  
.QuizzesTeacher__add-choice:focus {
    outline: none;
}
  
.QuizzesTeacher__add-choice:active {
    opacity: 0.8;
}



/* identification */
.QuizzesTeacher__type-identification-container{
    margin-top: 10px;
    display: flex;
}

/* input */
.QuizzesTeacher__identification-input {
    flex: 0.47;
    padding: 8px;
    font-size: 14px;
    color: #56575B;
    border: none;
    border-bottom: 1px solid #ced4da;
    background-color: #F9FBFB;
}
  
.QuizzesTeacher__identification-input:focus {
    outline: none;
}




/* True False */
.QuizzesTeacher__true-container{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 10px 15px;
    border-radius: 8px;
    color: #56575B;
    font-weight: 500;
}

.QuizzesTeacher__true-icon{
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
}


.QuizzesTeacher__false-container{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 10px 15px;
    border-radius: 8px;
    color: #56575B;
    font-weight: 500;
}

.QuizzesTeacher__false-icon{
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
}








 /* add question */
 .QuizzesTeacher__add-question{
    margin-left: 180px;
    margin-bottom: 30px;
    border-radius: 14px;
    padding: 25px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    border: 3px solid #A7CDC3;
    color: #67A292;
    cursor: pointer;
    transition: background-color 0.6s;
}

 .QuizzesTeacher__add-question:hover{
    background-color: #d6e5e1;
}

 .QuizzesTeacher__add-question:active{
   opacity: 0.8;
}





/* STEP 2 */

.QuizzesTeacher__general-container{
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #BBBBBB;
    margin-top: 15px;
    padding: 20px 30px;
}

.QuizzesTeacher__general-header{
    font-size: 20px;
    margin: 0 0 30px;
    padding: 0 0 10px 3px;
    font-weight: 500;
    color: #56575B;
    border-bottom: 1px solid #BBBBBB;
}

.QuizzesTeacher__quiz-name-group{
    margin: 20px 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.QuizzesTeacher__input-label {
    display: block;
    font-weight: 500;
    color: #56575B;
    font-size: 19px;
    
}

.QuizzesTeacher__input-description {
    font-size: 16px;
    color: #6b6868;
    font-weight: 500;
    margin-bottom: 8px;
}


.QuizzesTeacher__text-input {
    width: 40%;
    border: none;
    border-radius: 7px;
    background-color: #DDE9E6;
    font-size: 15px;
    color: #56575B;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    height: 45px;
    padding: 10px 16px;
    box-sizing: border-box; 
}


.QuizzesTeacher__text-input:focus {
    outline: none;
}


/* toggle */

.QuizzesTeacher__toggle {
    position: relative;
    width: 54px;
    height: 25px;
    margin-right: 5px;
}

.QuizzesTeacher__toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.QuizzesTeacher__toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DEDEDE;
    transition: .4s;
    border-radius: 24px;
}

.QuizzesTeacher__toggle-slider:before {
    position: absolute;
    content: "";
    height:29px;
    width: 29px;
    left: -2px;
    bottom: -1px;
    background-color: #B7B7B7;
    transition: .4s;
    border-radius: 50%;
}

.QuizzesTeacher__toggle input:checked + .QuizzesTeacher__toggle-slider {
    background-color: #a3d3c7;
}

.QuizzesTeacher__toggle input:checked + .QuizzesTeacher__toggle-slider:before {
    transform: translateX(30px);
    background-color: #67A292;
}


.QuizzesTeacher__width-dropdown{
    width: 40%;
}


.QuizzesTeacher__schedule-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 380px;
}

.QuizzesTeacher__date-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.QuizzesTeacher__date-label {
    font-size: 0.875rem;
    color: #666;
    font-weight: 600;
    margin: 0;
}




/* error */
.QuizzesTeacher__error-quiz-name{
    position: absolute;
    top: -35%;
    right: 0.5%;
    color: rgb(201, 0, 0);
    font-size: 13px;
}
