

.AnswerKeyModal__content{
    background: #F9FBFB;
    border-radius: 15px;
    width: 780px;
    max-width: 90%;
    padding: 10px 28px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.AnswerKeyModal__header{
    font-weight: 500;
    font-size: 18px;
    color: #56575B;
    padding: 7px 0;   
    border-bottom: 1px solid #bdbec0;
}


.AnswerKeyModal__answer-key-content{
    margin-left: 30px;
}

.AnswerKeyModal__answer-key-header{
    color: #56575B;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}



/* mutiple choice */
.AnswerKeyModal__answer-key-choice{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #56575B;
}


.QuizzesTeacher__choice-label {
    display: flex;
    align-items: center;
    gap: 8px; 
    cursor: pointer;
}



/* identification */
.AnswerKeyModal__answer-key-identify{
    color: #56575B;
}

/* input */
.AnswerKeyModal__answer-input {
    flex: 0.5;
    padding: 8px;
    font-size: 14px;
    color: #56575B;
    border: none;
    border-bottom: 1px solid #ced4da;
    background-color: #F9FBFB;
}
  
.AnswerKeyModal__answer-input:focus {
    outline: none;
}



/* true false */
.AnswerKeyModal__answer-true-container,
.AnswerKeyModal__answer-false-container{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 10px 15px;
    border-radius: 8px;
    color: #56575B;
    font-weight: 500;
    cursor: pointer;
}

.AnswerKeyModal__answer-true-container.selected {
    background-color: #d4edda; 
}

.AnswerKeyModal__answer-false-container.selected {
    background-color: #f8d7da;
}


/* checkbox */
.AnswerKeyModal__incorrect-checkbox{
    color: #56575B;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 9px;
    cursor: pointer;
}

.AnswerKeyModal__checkbox-input {
    margin: 0; 
    margin-left: 10px;
    width: 17px; 
    height: 17px;
    cursor: pointer; 
    background-color: #fff;
    border: 2px solid #abacb0;
    border-radius: 4px;
    appearance: none; 
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* checkbox checked state */
.AnswerKeyModal__checkbox-input:checked {
    background-color: #67A292;
    border-color: #67A292;
}

/* checkbox checkmark */
.AnswerKeyModal__checkbox-input:checked::after {
    content: '✓';
    position: absolute;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hover state */
.AnswerKeyModal__checkbox-input:hover {
    border-color: #67A292;
}

/* focus state */
.AnswerKeyModal__checkbox-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(103, 162, 146, 0.2);
}



/* button */
.AnswerKeyModal__btn-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 8px;
    padding-top: 10px;
    border-top: 1px solid #bdbec0;
}

.AnswerKeyModal__checkbox-container {
    flex: 1;
}

.AnswerKeyModal__button-container {
    margin-left: auto; /* This ensures the button group stays right-aligned */
}