

.JoinClassModal__content{
    background: #fff;
    border-radius: 10px;
    width: 550px;
    max-width: 90%;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.JoinClassModal__title {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    color: #56575B;
    margin: 0 0 20px;
}


.JoinClassModal__form-group {
    margin-bottom: 20px;
    position: relative;
    display: block;
}

.JoinClassModal__form-group label {
    display: block;
    font-size: 1rem;
    color: #555;
    font-weight: 400;
    margin-bottom: 7px;
}

.JoinClassModal__input {
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: #DDE9E6;
    font-size: 15px;
    color: #56575B;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    height: 45px;
    padding-left: 15px;
    box-sizing: border-box;
}
  
.JoinClassModal__input:focus {
    outline: none;
}

.JoinClassModal__note{
  color: #56575B;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
}  


.JoinClassModal__btn-actions{
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 20px 0 8px;
}


.JoinClassModal__btn-create{
  background-color: #67A292;
  font-size: 18px;
  font-weight: 400;
  padding: 12px 24px;
  border: none;
}

.JoinClassModal__btn-create:active{
  opacity: 0.8;
}

.JoinClassModal__btn-create:focus{
  outline: none;
}


.JoinClassModal__error-message{
  background-color: #ffebee;
  color: #c62828;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
}


.JoinClassModal__error-icon{
  width: 20px;
  height: 20px;
}