.QuestionBankModal__content {
    padding: 30px 40px;
    border-radius: 10px;
    width: 800px;
    height: 90vh;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.QuestionBankModal__header {
    font-size: 29px;
    margin: 0;
    margin-bottom: 20px;
    color: #56575B;
    text-align: center;
}

.QuestionBankModal__filters {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.QuestionBankModal__input-container{
    flex: 1;
    display: flex;
    position: relative;
}

.QuestionBankModal__search {
    flex: 1;
    padding: 8px 55px;
    border: none;
    border-radius: 6px;
    font-family: 'inter';
    font-size: 15px;
    color: #56575B;
    font-weight: 500;
    background-color: #DDE9E6;
}

.QuestionBankModal__search:focus {
    outline: none;
}

.QuestionBankModal__search-line{
    width: 1px;
    height: 27px;
    display: inline-block;
    background-color: #cfd0d5;
    position: absolute;
    top: 16%;
    left: 9%;
}

.QuestionBankModal__search-icon{
    position: absolute;
    top: 24%;
    left: 3%;
    color: #7c7e83;
    width: 20px;
    height: 20px;
    min-height: 20px;
    min-width: 20px;
}

.QuestionBankModal__dropdown-container{
    width: 30%;
}

.QuestionBankModal__type-filter {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}



.QuestionBankModal__questions-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 10PX 0 0;
    margin-bottom: 24px;
    overflow-y: auto; 
}


.QuestionBankModal__questions-list::-webkit-scrollbar {
    width: 8px; 
}

.QuestionBankModal__questions-list::-webkit-scrollbar-thumb {
    background-color: #7db7a7; 
    border-radius: 10px;
}

.QuestionBankModal__questions-list::-webkit-scrollbar-track {
    background-color: #c8ded9; 
    border-radius: 10px;
}

.QuestionBankModal__questions-list::-webkit-scrollbar-thumb:hover {
    background: #71a899;
}



.QuestionBankModal__question-item {
    padding: 20px 20px 18px ;
    border: 1px solid #ddd;
    background-color: #c8ded9;
    border-radius: 8px;
}

.QuestionBankModal__question-checkbox input[type="checkbox"] {
    width: 24px;
    height: 24px; 
    margin-right: 10px; 
    cursor: pointer;
    appearance: none; 
    background-color: #c8ded9;
    border: 2px solid #71a899; 
    border-radius: 4px;
    position: relative;
}


.QuestionBankModal__question-checkbox input[type="checkbox"]:focus {
    outline: none;
}


.QuestionBankModal__question-checkbox input[type="checkbox"]:checked {
    background-color: #71a899; 
    border-color: #5f8e7e; 
}
.QuestionBankModal__question-checkbox input[type="checkbox"]:checked::after {
    content: ""; 
    position: absolute;
    left: 6px; 
    top: 2px; 
    width: 5px; 
    height: 13px; 
    border: solid white; 
    border-width: 0 3px 3px 0;
     
    transform: rotate(40deg); 
}
.QuestionBankModal__question-checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.QuestionBankModal__question-details {
    flex: 1;
    position: relative;
}

.QuestionBankModal__question-type {
    display: inline-block;
    padding: 4px 8px;
    background: #82aba0;
    width: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.QuestionBankModal__question-text {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    margin-right: 20%;
    margin-bottom: 8px;
    color: #56575B;
}

.QuestionBankModal__answer-key {
    display: inline-flex;
    align-items: center;
    background-color: #71a899;
    gap: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 5px 10px; 
    border-radius: 4px;
   
}

.QuestionBankModal__answer-key-icon{
    width: 15px;
    height: 15px;
    min-height: 15px;
    min-width: 15px;
}

.QuestionBankModal__answer{
    font-weight: 500;
}





.QuestionBankModal__no-results{
    color: #b6b7ba;
    text-align: center;
    font-weight: 500;
}

