/* QuizReportModal.css */

.QuizReportModal__content {
    padding: 30px 40px;
    border-radius: 10px;
    width: 1000px;
    height: 90vh;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.QuizReportModal__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e5e7eb;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.QuizReportModal__pdf-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.QuizReportModal__title {
    font-size: 1.7rem;
    font-weight: 600;
    color: #56575B;
    font-family: 'inter';
    margin: 0;
}

.QuizReportModal__close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #6b7280;
    padding: 5px;
    line-height: 1;
}

.QuizReportModal__close-button:hover {
    color: #56575B;
}
.QuizReportModal__close-button:active {
    opacity: 0.8;
}

.QuizReportModal__close-button:focus {
    outline: none;
}



/* main content */
.QuizReportModal__main-content{
    max-width: 1000px;
    max-height: 90vh;
    overflow-y: auto;
    padding: 0 15px;

}


.QuizReportModal__main-content::-webkit-scrollbar {
    width: 8px; 
}

.QuizReportModal__main-content::-webkit-scrollbar-thumb {
    background-color: #7db7a7; 
    border-radius: 10px;
}

.QuizReportModal__main-content::-webkit-scrollbar-track {
    background-color: #c8ded9; 
    border-radius: 10px;
}

.QuizReportModal__main-content::-webkit-scrollbar-thumb:hover {
    background: #71a899;
}



/* loading screen */
.QuizReportModal__loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

.loading-spinner {
    border: 7px solid #f3f3f3;
    border-top: 7px solid #67A292;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 16px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.QuizReportModal__loading-container p{
    color: #56575B;
    font-weight: 600;
}

/* error screen */
.error-message {
    text-align: center;
    color: #dc2626;
    padding: 20px;
}

.no-data-message {
    text-align: center;
    color: #6b7280;
    padding: 20px;
}



/* main report */
.QuizReportModal__report-container {
    padding: 20px 0;
}

.QuizReportModal__stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.QuizReportModal__stat-card {
    background: #A7CDC3;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.QuizReportModal__stat-label {
    font-size: 16px;
    font-weight: 600;
    color: #56575B;
    margin-bottom: 4px;
}

.QuizReportModal__stat-value {
    font-size: 30px;
    font-weight: bold;
    color: #2d7763;
}

.QuizReportModal__charts-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #daece8;
    padding: 20px;
    border-radius: 10px;
}

.QuizReportModal__chart-section {
    background: #bddfd5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.QuizReportModal__chart-title, .QuizReportModal__section-title {
    font-size: 26px;
    font-weight: bold;
    color: #56575B;
    margin: 0;
    margin-bottom: 16px;
}


.chart-wrapper {
    background: #f9fafb;
    border-radius: 8px;
    padding: 16px;
}

@media (max-width: 768px) {
    .modal-content {
        width: 95%;
        padding: 16px;
    }

    .stats-grid {
        grid-template-columns: 1fr 1fr;
    }

    .chart-wrapper {
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .stats-grid {
        grid-template-columns: 1fr;
    }
}

/* PDF BUTTOn */
.QuizReportModal__download-button {
    background: none;
    border: 2px solid #A7CDC3;
    cursor: pointer;
    padding: 8px;
    margin-right: 8px;
    color: #67A292;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #e2f1ed;
    transition: color 0.2s;
}

.QuizReportModal__download-button:hover {
    color: #67A292;
    border: 2px solid #A7CDC3;
}

.QuizReportModal__download-button:active {
    opacity: 0.8;
}

.QuizReportModal__download-button:focus {
    outline: none;
}

.QuizReportModal__download-icon {
    width: 16px;
    height: 16px;
}

.pdf-section {
    break-inside: avoid;
    background: white;
    border-radius: 8px;
    margin-bottom: 10px;
}

.QuizReportModal__student-scores {
    background: #bddfd5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media print {
    .pdf-section {
        break-inside: avoid;
        page-break-inside: avoid;
    }
}