/* Home page content  */

.HomeStudent__main-header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.HomeStudent__main-header h1{
    font-weight: bold;
    color: #56575B;
    font-size: 35px;
    margin: 0;
}

.HomeStudent__date-time{
    color: #56575B;
    font-family: 'inter';
    font-size: 18px;
    margin: 5px 0 0 7px;
}


.HomeStudent__join-class{
    background-color: #67A292;
    color: #F9FBFB;
    padding: 10px 30px;
    font-size: 19px;
    font-weight: 500;
    font-family: 'Inter';
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.HomeStudent__join-class:hover{
    background-color: #5a9787;
}

.HomeStudent__join-class:active{
    opacity: 0.8;
}

.HomeStudent__join-class:focus {
    outline: none; 
}

/* your class content */
.HomeStudent__your-classes{
    color: #56575B;
    font-weight: 500;
    margin-top: 30px;
}



/* cards */
.HomeStudent__card-container{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.class-card{
    background-color: #DDE9E6;
    padding: 20px;
    border-radius: 15px;
    width: 32%;
    position: relative;
}


.card-title{
    color: #56575B;
    font-weight: 600;
    font-size: 21px;
    margin: 2px 50px 2px 2px;
    white-space: nowrap; 
    overflow: hidden;
}

.card-title::after {
    content: ""; 
    position: absolute;
    top: 14%;
    right: 18%;
    height: 20%;
    width: 50px; 
    background: linear-gradient(to left, var(--card-bg-color), transparent); 
    pointer-events: none; 
}

.card-instructor{
    color: #56575B;
    font-weight: 400;
    font-size: 15px;
    margin: 0 2px 10px;
}

.card-start{
    background-color: #5da693;
    border: none;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.card-start:active{
    opacity: 0.8;
}

.card-start:focus{
    outline: none;
}

.HomeStudent__join-icon{
   width: 21px;
   height: 21px; 
}


/* TEACHER CONTENT */

.class-card-copy-code{
    transform: rotateY(180deg);
}

/* TEACHER COPY Code*/
.HomeTeacher__copy-code{
    position: absolute;
    right: 5.5%;
    border: none;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomeTeacher__copy-code:active{
    opacity: 0.8;
}

.HomeTeacher__copy-code:focus{
    outline: none;
}

.HomeTeacher__copy-code::after {
    content: "Copy Code";
    position: absolute;
    top: -80%; 
    left: 50%;
    z-index: 2;
    transform: translateX(-50%); 
    background-color: rgb(81, 81, 81);
    color: #e0e0e0; 
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none; 
    white-space: nowrap;
    transition: opacity 0.3s ease; 
}

.HomeTeacher__copy-code::before {
    content: "";
    position: absolute;
    top: -7%; /* Position the arrow */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgb(81, 81, 81) transparent transparent transparent;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.HomeTeacher__copy-code:hover::before,
.HomeTeacher__copy-code:hover::after {
    opacity: 1; 
}


